/* Add CSS Styling */

.odd {
   background-color:rgb(248, 163, 153);
   font-family: 'Verdana','DejaVu Sans', 'Sans-serif';
}

#two {
   color:#0000ff;
   font-size: 36px;
}

.three {
    font-size: 24px;
}

#four {
    background-color: rgb(137, 245, 137);
    font-size: 24px;
    font-weight: bold;
}